@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f19;
  --foreground: #ffffff; /* Update to white */
  --card: #f0f1f3;
  --card-foreground: #ffffff;
  --popover: #f0f1f3;
  --popover-foreground: #ffffff;
  --primary: #ffffff;
  --primary-foreground: #f0f1f3;
  --secondary: #fff;
  --secondary-foreground: #ffffff;
  --muted: #3d4852;
  --muted-foreground: #3e5166;
  --accent: #3d4852;
  --accent-foreground: #ffffff;
  --destructive: #f0f1f3;
  --destructive-foreground: #ffffff;
  --border: #fff;
  --input: #3d4852;
  --ring: #3d4852;
  --radius:8px;
}

.h1 {
  @apply text-white text-6xl md:text-7xl md:leading-[80px] tracking-[-2px] font-bold; /* Add text-white */
}

.h3 {
  @apply text-white text-4xl font-bold; /* Add text-white */
}

.h4 {
  @apply text-white text-2xl font-semibold; /* Add text-white */
}

.subtitle {
  @apply text-white text-muted-foreground text-lg mb-8 font-light;
}

.section-title {
  @apply text-white text-4xl font-bold relative w-max flex items-center justify-between gap-x-3; /* Add text-white */
}

.badge {
  @apply z-10 w-[200px] h-[68px] dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-[10px] flex items-center gap-x-4;
}

body {
  background-color: var(--background);
}
